#wrapper {
  width: 100%;
}

header, footer, main h1, .assignmentTitle {
  text-align: center;
}

nav li {
  list-style: none;
}

article, .assignmentTitle, .lectureContents {
  margin-bottom: 2em;
}

@media screen and (max-width:499px) {
  /*画面幅が499pxまでの時*/
  .pageTitle {
    font-size: 1.3em;
  }
  .subTitle {
    font-size: 1em;
  }
  .navTitle {
    font-size: 1em;
  }
  .assignmentTitle h1 {
    font-size: 1.15em;
  }
  article h1 {
    font-size: 1.2em;
  }
  article h2 {
    font-size: .9em;
  }
}

@media screen and (min-width: 500px) and (max-width: 999px) {
  #wrapper {
    width: 80%;
    margin: 0 auto;
  }
  .schedule {
    width: 65%;
    margin: 0 auto;
  }
  article h2 {
    font-size: 1.25em;
  }
}

@media screen and (min-width:1000px) {
  #wrapper {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
  }
  .schedule {
    width: 35%;
    margin: 0 auto;
  }
  article h2 {
    font-size: 1.25em;
  }
}
